# Languages
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore in exports
/.github export-ignore
/.idea export-ignore
/docs export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitbook.yaml export-ignore
/.gitignore export-ignore
/.composer.lock export-ignore